<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of Books</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Author</td>
            <td>Email</td>
            <td>Summary</td>
        </tr>
        {% for b in all_books %}
        
        <tr>
            <td>{{b.id}}</td>
            <td>{{b.id}}</td>
        </tr>
        {%end for%}
        
    </table>
</body>
</html>